@model IEnumerable<MemberEmployee.Models.Entities.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>
    Employee &mdash; List

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.MemberId</td>
                <td>@member.Name</td>
                <td>@member.Position</td>
                <td>@member.Salary</td>

               
                <td>
                    @Html.ActionLink("Details", "Details", new { id = member.MemberId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = member.MemberId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = member.MemberId })
                </td>
            </tr>
        }
    </tbody>
</table>

